.childModalStyle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 26vw;
    height: 200px;
    background-color: #fff;
    border: 2px solid #0D47A1;
    border-radius: 5px;
    box-shadow: 0 5px 10px black;
    padding: 5px;
    text-align: center;
}